RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule (.*) index.php/$1 [L]

<Files "*.tpl">
    Order Allow,Deny
    Deny from All
    allow from all
</Files>